# Windows MySQL 8.0 local development
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=CHANGE_ME_TO_YOUR_MYSQL_PASSWORD
MYSQL_DATABASE=blog
MYSQL_TIMEZONE_OFFSET=+08:00

# Author login for /write/
BLOG_ADMIN_PASSWORD=CHANGE_ME_TO_YOUR_WRITING_PASSWORD
BLOG_SESSION_SECRET=CHANGE_ME_TO_AT_LEAST_32_RANDOM_CHARACTERS
BLOG_COOKIE_SECURE=false
